{% extends 'layout.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block navbar %}
<ul class="navbar_list">
    <li class="navbar_item"><a href="{{ url_for('home') }}">Home</a></li>
    <li class="navbar_item"><a href="{{ url_for('borrow') }}">Borrow</a></li>
    <li class="navbar_item"><a href="{{ url_for('post_tool') }}">Lend</a></li>
    {% if current_user.is_authenticated %}
    <li class="navbar_item"><a href="{{ url_for('profile') }}">Profile</a></li>
    <li class="navbar_item"><a href="{{ url_for('logout') }}">Logout</a></li>
    {% else %}
    <li class="navbar_item current_page"><a href="{{ url_for('login') }}">LOGIN</a></li>
    <li class="navbar_item"><a href="{{ url_for('register') }}">Register</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
<form method="POST">
    <div class="form-container">
    <h1 class="large_title">LOGIN&nbsp;FORM</h1>
    {{ form.hidden_tag() }}
    {{ form.email.label() }}{{ form.email(class='form-field') }}
    {{ form.password.label() }}{{ form.password(class='form-field') }}
    {{ form.submit(class='form-submit-btn') }}
    <div><a class='form-link' href="{{ url_for('forgotten_password') }}">Forgotten your password?</a></div>
    </div>
</form>

{% endblock %}