{% extends 'layout.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block content %}

<form method="POST">
    <div class="form-container">
    <h2 class="large_title">RESET YOUR&nbsp;PASSWORD</h2>
    {{ form.hidden_tag() }}
    {{ form.password.label }}{{ form.password(class='form-field') }}
    {{ form.confirm_password.label }}{{ form.confirm_password(class='form-field') }}
    {{ form.submit(class='form-submit-btn') }}
    </div>
</form>
{% endblock %}