.chat-link {
    text-decoration: none;
    display: flex;
    background-color: #434247;
    padding: 1rem;
    border-radius:5px;
    margin-bottom:1rem;
    color: white;
    align-items: center;
}

.chat-link:hover {
    opacity:0.8;
}

.chat-list {
    list-style: none;
    margin: 0;

}

.owner-profile-pic {
    margin-right: 2rem;
}

.chat-title {
    margin: 0;
    margin-bottom:1rem;
    color: #F29F05;
    text-align: center;
}


#chat {
    display: block;
    margin: 0 auto 0 auto;
    min-width: 70%;
}

.chat-form-field {
    display: block;
    outline: none;
    border: 1px solid black;
    padding: 8px 10px;
    /* max-width: 23rem; */
    min-width: 70%;
    border-radius: 5px;
    margin: 0 auto 0 auto;
}

.send-btn {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 70%;
  display: block;
  margin: 0 auto 0 auto;
  margin-top:0.5rem;
}

.send-btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.send-btn:hover {
  background-color: #2c974b;
}

.send-btn:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.send-btn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.send-btn:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
